Source: univention-apple-school-manager-connector
Section: univention
Priority: optional
Build-Depends: debhelper (>> 7),
 univention-config-dev,
 ucslint-univention,
 python2.7-dev,
 python-support,
 univention-config-dev,
 univention-management-console-dev,
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2

Package: univention-apple-school-manager-connector
Architecture: all
Depends: ${misc:Depends},
 univention-config,
 python-univention,
 python-univention-lib,
 shell-univention-lib,
 univention-join,
 python-ucs-school,
 python-dns,
 ucs-school-import,
Recommends: ntp
Description: Provision Apple School Manager accounts.
 Synchronize user accounts to the Apple School Manager server.
Homepage: https://school.apple.com/

Package: ucs-test-apple-school-manager
Architecture: all
Depends: ucs-test-libs,
 ucs-test-framework,
 ucs-test-ucsschool (>= 5.0.4-2),
 ${misc:Depends}
Provides: ucs-test-module
Description: Univention Apple School Manager App tests for ucs-test
 This package includes some Apple School Manager related tests for
 ucs-test.
