Source: univention-apple-school-manager-connector
Section: univention
Priority: optional
Build-Depends:
    debhelper (>> 9),
    univention-config-dev,
    ucslint,
    dh-python,
    univention-config-dev,
    univention-management-console-dev,
Maintainer: Univention GmbH <packages@univention.de>
Standards-Version: 3.8.2

Package: univention-apple-school-manager-connector
Architecture: all
Depends: ${misc:Depends},
    python3-univention-apple-school-manager-connector
Description: Provision Apple School Manager accounts.
 Synchronize user accounts to the Apple School Manager server.
Homepage: https://school.apple.com/

Package: python3-univention-apple-school-manager-connector
Architecture: all
Depends: ${misc:Depends},
     ucs-school-import,
     univention-config,
     python3-univention,
     python3-univention-lib,
     shell-univention-lib,
     univention-join,
     python-ucs-school,
     python-dns,
Recommends: ntp
Description: Provision Apple School Manager accounts.
 Synchronize user accounts to the Apple School Manager server.
Homepage: https://school.apple.com/

Package: ucs-test-apple-school-manager
Architecture: all
Depends: ucs-test-libs,
 ucs-test-framework,
 ucs-test-ucsschool (>= 6.0.0-2),
 ${misc:Depends}
Provides: ucs-test-module
Description: Univention Apple School Manager App tests for ucs-test
 This package includes some Apple School Manager related tests for
 ucs-test.
